// .mat-grid-tile {
//     border: 1px solid red;
// }

.card__slider {
    width: 100%;
    height: 100%;
}

.payment__box {
    width: 100%;
    height: 100%;
}

.payment__long__fields {
    width: 90%;
}

.payment__exp__date {
    width: 30%;
    margin: 20px;
}