<div class="intro">
  <h1 class="name">Send gifts from home.</h1>
  <h3 class="description"> Hundreds of options. No pants needed. </h3>
  <a class="shop" [routerLink]="['/card-list']">	Shop Now</a>
</div>

<div>
  <div class="instructional">
    <div class="instruction__modern_gift_1">
      <h3>
        Built for 
        <span class="bold__text">MODERN</span> 
        <span class="bold__text">GIFT GIVING</span>
      </h3>
      <button mat-flat-button [routerLink]="['/card-list']">SHOP NOW</button>
    </div>
    <div class="instruction__step">
      <span class="circle">1</span>
      <mat-icon class="svg__icon" svgIcon="card" [inline]="true"></mat-icon>
      <div class="instruction__text">
        Pick a card
      </div>
    </div>
    <div class="instruction__step">
      <span class="circle">2</span>
      <mat-icon class="svg__icon" svgIcon="keyboard" [inline]="true"></mat-icon>
      <div class="instruction__text">
        Add a message
      </div>
    </div>
    <div class="instruction__step">
      <span class="circle">3</span>
      <mat-icon class="svg__icon" svgIcon="gift" [inline]="true"></mat-icon>
      <div class="instruction__text">
        Add a ThinGift
      </div>
    </div>
  </div>
  <div class="addt_text">
    <h2></h2>
    <h2>We'll take care of the rest!</h2>
  </div>
</div>

<div class="favorites">
  <div *ngFor="let c of cards" class="card-cover">
    <img src="{{c.image_url}}" />
  </div>
  <div class="instruction__modern_gift_2">
    <h3>
      Discover 
      <span class="bold__text">OUR</span> 
      <span class="bold__text">FAVORITES</span>
    </h3>
    <span>
      <a [routerLink]="['/card-list']">See more >></a>
    </span>
  </div>
</div>
