<h1>Add address</h1>
<h2>Return Address</h2>
<form>
  <mat-form-field>
    <input matInput placeholder="Address line 1">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Address line 2">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="City">
  </mat-form-field>
  <mat-label>State</mat-label>
  <mat-select>
    <mat-option [value]="'CT'">CT</mat-option>
  </mat-select>
  <mat-form-field>
    <input matInput placeholder="Zip Code">
  </mat-form-field>
</form>
<h2>Recipient Address</h2>
<form>
  <mat-form-field>
    <input matInput placeholder="Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Address line 1">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Address line 2">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="City">
  </mat-form-field>
  <mat-label>State</mat-label>
  <mat-select>
    <mat-option [value]="'CT'">CT</mat-option>
  </mat-select>
  <mat-form-field>
    <input matInput placeholder="Zip Code">
  </mat-form-field>
</form>
<button mat-stroked-button color="primary">
  <a [routerLink]="['/add-giftcard']">Continue</a>
</button>