.outer__envelope {
    width: 97%;
    height: 500px;
    border: 2px solid black;
    text-align: center;
}


// .mat-grid-tile {
//     border: 1px solid red;
// }

.address__line {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 2px solid darkblue;
    outline: none;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    // background-color: #eee;
}

input::placeholder {
    text-align: center;
}

.add__address {

}
