// mat-icon {
//     font-size: 7em;
// }

.card__list__title {
   text-align: center;
}

.card__list .mat-grid-tile .mat-figure {
    justify-content: flex-start !important ;
    align-items: flex-start !important;
 }

 .card-select:hover {
    // background-color: red;
    border: .5px solid grey;
    box-shadow:20px 20px 10px grey;
 }