<mat-grid-list cols="18" rowHeight="48px">
  <mat-grid-tile
    [colspan]="4"
  >
    Your Card Name
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" *ngIf="!readOnly"></mat-grid-tile>
  <mat-grid-tile [colspan]="1" *ngIf="readOnly"></mat-grid-tile>
  <mat-grid-tile
    [colspan]="2"
    [ngClass]="{'selected': isCover()}"
    (click)="changeSlide('cover')"
  >
    <p class="slider__option">Cover</p>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="4"
    [ngClass]="{'selected': isCard()}"
    (click)="changeSlide('card')"
  >
    <p class="slider__option">Card</p>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="2"
    [ngClass]="{'selected': isAddressing()}"
    (click)="changeSlide('addressing')"
  >
    <p class="slider__option">Addressing</p>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="4"
  >
    <button mat-stroked-button color="primary" *ngIf="!readOnly">Done</button>
    <button mat-stroked-button color="primary" *ngIf="readOnly">
      <a [routerLink]="['/add-message']">Edit</a>
    </button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" *ngIf="readOnly"></mat-grid-tile>
  <mat-grid-tile
    [colspan]="2"
    [rowspan]="12"
    [style.backgroundColor]="'lightgreen'"
    *ngIf="!readOnly"
  >
    sidebar
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="1"
    [rowspan]="12"
    *ngIf="readOnly"
  ></mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="12"></mat-grid-tile>
  <div *ngIf="isCard()">
    <mat-grid-tile [colspan]="6" [rowspan]="12">
      <div class="card__inside"></div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="6" [rowspan]="12">
      <div class="card__inside">
        <textarea class="card__text" placeholder="Write your message here..."></textarea>
      </div>
    </mat-grid-tile>
  </div>
  <div *ngIf="isCover()">
    <mat-grid-tile [colspan]="12" [rowspan]="12">
      <img class="card-cover" src="https://image.shutterstock.com/image-vector/creative-minimalistic-thank-you-card-260nw-319787525.jpg" />
    </mat-grid-tile>
  </div>
  <div *ngIf="isAddressing()">
    <mat-grid-tile [colspan]="13" [rowspan]="12">
      <div class="outer__envelope">
        <mat-grid-list class="envelope" cols="7" rowHeight="40px">
          
          <mat-grid-tile [colspan]="3" [rowspan]="1">
            <input class="address__line" placeholder="Name">
          </mat-grid-tile>
          <mat-grid-tile [colspan]="2" [rowspan]="1"></mat-grid-tile>
          
          <mat-grid-tile [colspan]="3" [rowspan]="1">
            <input class="address__line" placeholder="Return Address">
          </mat-grid-tile>
          <mat-grid-tile [colspan]="2" [rowspan]="1"></mat-grid-tile>
          
          <mat-grid-tile [colspan]="3" [rowspan]="1">
            <input class="address__line" placeholder="Return Address">
          </mat-grid-tile>
          <mat-grid-tile [colspan]="3" [rowspan]="1"></mat-grid-tile>
          
          <mat-grid-tile [colspan]="7" [rowspan]="4"></mat-grid-tile>
          
          <mat-grid-tile [colspan]="2" [rowspan]="1"></mat-grid-tile>
          <mat-grid-tile [colspan]="3" [rowspan]="1">
            <input class="address__line" placeholder="Send To">
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
          <mat-grid-tile [colspan]="2" [rowspan]="1"></mat-grid-tile>
          <mat-grid-tile [colspan]="3" [rowspan]="1">
            <input class="address__line" placeholder="Address">
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
          <mat-grid-tile [colspan]="2" [rowspan]="1"></mat-grid-tile>
          <mat-grid-tile [colspan]="3" [rowspan]="1">
            <input class="address__line" placeholder="Address">
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-grid-tile>
  </div>
  <mat-grid-tile [colspan]="8" *ngIf="!readOnly"></mat-grid-tile>
  <mat-grid-tile [colspan]="7" *ngIf="readOnly"></mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <mat-icon color="primary" (click)="moveLeft()">arrow_back</mat-icon>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <mat-icon color="primary" (click)="moveRight()">arrow_forward</mat-icon>
  </mat-grid-tile>
</mat-grid-list>

