<mat-grid-list [cols]="18" rowHeight="3vw">
  <mat-grid-tile
    [colspan]="4"
  >
    Your Card Name
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" *ngIf="!readOnly"></mat-grid-tile>
  <mat-grid-tile [colspan]="1" *ngIf="readOnly"></mat-grid-tile>
  <mat-grid-tile
    [colspan]="2"
    [ngClass]="{'selected': isCover()}"
    (click)="changeSlide('cover')"
  >
    <p class="slider__option">Cover</p>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="4"
    [ngClass]="{'selected': isCard()}"
    (click)="changeSlide('card')"
  >
    <p class="slider__option">Card</p>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="2"
    [ngClass]="{'selected': isAddressing()}"
    (click)="changeSlide('addressing')"
  >
    <p class="slider__option">Addressing</p>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="4"
  >
    <button mat-stroked-button color="primary" *ngIf="!readOnly" (click)="saveMessage()">Done</button>
    <button mat-stroked-button color="primary" *ngIf="readOnly">
      <a [routerLink]="['/add-message']">Edit</a>
    </button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" *ngIf="readOnly"></mat-grid-tile>
  <mat-grid-tile
    [colspan]="3"
    [rowspan]="12"
    *ngIf="!readOnly"
  >
    <mat-grid-list cols="3" rowHeight="5vw" class="sidebar__tools">
      <mat-grid-tile [colspan]="3">
        <mat-form-field class="tool__control text__font__control">
          <mat-label>Text Font</mat-label>
          <select matNativeControl required>
            <option *ngFor="let opt of fontOptions" [value]="opt.value">
              {{opt.text}}
            </option>
          </select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3">
        <mat-form-field class="tool__control text__size__control">
          <mat-label>Text Size</mat-label>
          <select matNativeControl required>
            <option *ngFor="let opt of sizeOptions" [value]="opt.value">
              {{opt.text}}
            </option>
          </select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3">
        <mat-form-field class="tool__control text__color__control">
          <mat-label>Text Color</mat-label>
          <select matNativeControl required>
            <option *ngFor="let opt of colorOptions" [value]="opt.value">
              {{opt.text}}
            </option>
        </select>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="3"
    [rowspan]="12"
    *ngIf="readOnly"
  ></mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="12" *ngIf="!readOnly"></mat-grid-tile>
  <div *ngIf="isCard()">
    <mat-grid-tile [colspan]="6" [rowspan]="12">
      <div class="card__inside"></div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="6" [rowspan]="12">
      <div class="card__inside">
        <textarea 
          #message
          class="card__text" 
          placeholder="Write your message here..."
        >Dear ,
                                      
        
        
        
        Best wishes,
      </textarea>
      </div>
    </mat-grid-tile>
  </div>
  <div *ngIf="isCover()">
    <mat-grid-tile [colspan]="12" [rowspan]="12">
      <div class="card-cover-wrapper">
        <img class="card-cover" src="https://image.shutterstock.com/image-vector/creative-minimalistic-thank-you-card-260nw-319787525.jpg" />
      </div>
    </mat-grid-tile>
  </div>
  <div *ngIf="isAddressing()">
    <mat-grid-tile [colspan]="13" [rowspan]="12">
      <div class="outer__envelope">
        <mat-grid-list class="envelope" cols="7" rowHeight="4vw">
          
          <mat-grid-tile [colspan]="3" [rowspan]="1">
            <input class="address__line" placeholder="Sender">
          </mat-grid-tile>
          <mat-grid-tile [colspan]="2" [rowspan]="1"></mat-grid-tile>
          
          <mat-grid-tile [colspan]="3" [rowspan]="1">
            <input class="address__line" placeholder="Return Address">
          </mat-grid-tile>
          <mat-grid-tile [colspan]="2" [rowspan]="1"></mat-grid-tile>
          
          <mat-grid-tile [colspan]="3" [rowspan]="1">
            <input class="address__line" placeholder="Return Address">
          </mat-grid-tile>
          <mat-grid-tile [colspan]="3" [rowspan]="1"></mat-grid-tile>
          
          <mat-grid-tile [colspan]="7" [rowspan]="2"></mat-grid-tile>
          
          <mat-grid-tile [colspan]="2" [rowspan]="1"></mat-grid-tile>
          <mat-grid-tile [colspan]="3" [rowspan]="1">
            <input class="address__line" placeholder="Recipient">
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
          <mat-grid-tile [colspan]="2" [rowspan]="1"></mat-grid-tile>
          <mat-grid-tile [colspan]="3" [rowspan]="1">
            <input class="address__line" placeholder="Recipient Address">
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
          <mat-grid-tile [colspan]="2" [rowspan]="1"></mat-grid-tile>
          <mat-grid-tile [colspan]="3" [rowspan]="1">
            <input class="address__line" placeholder="Recipient Address">
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-grid-tile>
  </div>
  <mat-grid-tile [colspan]="8" *ngIf="!readOnly"></mat-grid-tile>
  <mat-grid-tile [colspan]="7" *ngIf="readOnly"></mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <mat-icon color="primary" (click)="moveLeft()">arrow_back</mat-icon>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <mat-icon color="primary" (click)="moveRight()">arrow_forward</mat-icon>
  </mat-grid-tile>
</mat-grid-list>

