<div class="spinner">
    <mat-spinner *ngIf="loading" style="margin:0 auto;"></mat-spinner>
</div>
<div *ngIf="!loading">
    <div class="message_container" fxHide.lt-sm="true">
        <div class="title">
            <h3>{{card ? card.product_detail.name : null}}</h3>
            <div *ngIf="readOnly">
                <p>by {{card.product_detail.creator_name}}</p>
                <p>{{card.product_detail.description}}</p>
                <p>${{card.product_detail.price}}</p>
                <a href="#" (click)="deleteCartId(cartProductId)">Delete</a>
            </div>
            <div *ngIf="!readOnly">
                <mat-form-field class="tool__control text__font__control">
                    <mat-label>Font</mat-label>
                    <select 
                        matNativeControl 
                        [disabled]="readOnly" 
                        (change)="onFontChange($event.target.value)" 
                        placeholder="REGULAR"
                    >
                        <option
                            *ngFor="let opt of fontOptions"
                            [value]="opt.value"
                            [selected]="font === opt.value"
                        >
                            {{opt.text}}
                        </option>
                    </select>
                </mat-form-field>
                <mat-form-field class="tool__control text__color__control">
                    <mat-label>Color</mat-label>
                    <select matNativeControl [disabled]="readOnly" (change)="onColorChange($event.target.value)">
                        <option 
                            *ngFor="let opt of colorOptions" 
                            [value]="opt.value"
                            [selected]="color === opt.value"
                            >
                            {{opt.text}}
                        </option>
                    </select>
                </mat-form-field>
            </div>
        </div>
        <div class="card-s">
            <div class="heading">
                <p [ngClass]="{'selected': isCover()}" class="slider__option" (click)="changeSlide('cover')">
                    Cover
                </p>
                <p [ngClass]="{'selected': isCard()}" class="slider__option" (click)="changeSlide('card')">
                    Card
                </p>
                <p [ngClass]="{'selected': isAddressing()}" class="slider__option" (click)="changeSlide('addressing')">
                    Addressing
                </p>
            </div>
            <div class="inside-container" *ngIf="isCard()">
                <div class="inside">
                    <div class="left-side"></div>
                    <div class="message-wrapper">
                        <form [formGroup]="messageForm" class="message">
                            <textarea 
                                #message
                                class="card__text"
                                [readonly]="readOnly"
                                placeholder=""
                                formControlName="text"
                            ></textarea>
                        </form>
                    </div>
                </div>
            </div>
            <div class="front-container" *ngIf="isCover()">
                <div class="front">
                    <img src="{{card.product_detail.image_url}}">
                </div>
            </div>
            <div class="address-container" *ngIf="isAddressing()">
                <form [formGroup]="addressForm">
                    <div class="address">
                        <h3>Return Address</h3>
                        <div>
                            <mat-form-field appearance="standard">
                                <mat-label>Name</mat-label>
                                <input required matInput formControlName="returnName">
                            </mat-form-field>
                            <mat-form-field appearance="standard">
                                <mat-label>Address 1</mat-label>
                                <input required matInput formControlName="returnAddress1">
                            </mat-form-field>
                            <mat-form-field appearance="standard">
                                <mat-label>Address 2</mat-label>
                                <input matInput formControlName="returnAddress2">
                            </mat-form-field>
                            <mat-form-field appearance="standard">
                                <mat-label>City</mat-label>
                                <input required matInput formControlName="returnCity">
                            </mat-form-field>
                            <mat-form-field appearance="standard">
                                <mat-label>State</mat-label>
                                <mat-select required formControlName="returnState">
                                    <mat-option *ngFor="let s of states" value="{{s}}">
                                        {{s}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="standard">
                                <mat-label>Zip Code</mat-label>
                                <input required matInput formControlName="returnZip">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="address">
                        <h3>Recipient Address</h3>
                        <div>
                            <mat-form-field appearance="standard">
                                <mat-label>Name</mat-label>
                                <input required matInput formControlName="recipientName">
                            </mat-form-field>
                            <mat-form-field appearance="standard">
                                <mat-label>Address 1</mat-label>
                                <input required matInput formControlName="recipientAddress1">
                            </mat-form-field>
                            <mat-form-field appearance="standard">
                                <mat-label>Address 2</mat-label>
                                <input matInput formControlName="recipientAddress2">
                            </mat-form-field>
                            <mat-form-field appearance="standard">
                                <mat-label>City</mat-label>
                                <input required matInput formControlName="recipientCity">
                            </mat-form-field>
                            <mat-form-field appearance="standard">
                                <mat-label>State</mat-label>
                                <mat-select required formControlName="recipientState">
                                <mat-option *ngFor="let s of states" value="{{s}}">{{s}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="standard">
                                <mat-label>Zip Code</mat-label>
                                <input required matInput formControlName="recipientZip">
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
            <div class="footing">
                <mat-icon class="foot" color="primary" (click)="moveLeft()">arrow_back</mat-icon>
                <button 
                    *ngIf="!readOnly"
                    mat-flat-button 
                    color="primary"
                    (click)="saveMessage()"
                    class="foot"
                >
                    Save and Continue
                </button>
                <button 
                    *ngIf="readOnly"
                    mat-flat-button 
                    color="primary"
                    [routerLink]="['/add-message', this.cartProductId]"
                    class="foot"
                >
                    Edit Card
                </button>
                <mat-icon class="foot" color="primary" (click)="moveRight()">arrow_forward</mat-icon>
            </div>
        </div>

    </div>
   

    <div fxShow.lt-sm="true" fxShow="false" class="add_message_simple">
        <div
        fxLayout="row wrap" 
        fxLayout.lt-sm="column" 
        fxLayoutGap="80px" 
        fxLayoutAlign="flex-start"
        >
            <div class="card-cover">
                <img src="{{card.product_detail.image_url}}" />
            </div>
            <div class="add_message_simple__message">
                <h3>Message</h3>
                <mat-form-field appearance="fill" style="width: 300px;">
                    <mat-label>Add your message</mat-label>
                    <textarea #simpleMessage matInput></textarea>
                </mat-form-field>
            </div>
            <div class="add_message_simple__addr">
                <form [formGroup]="addressForm">
                    <h3>Return Address</h3>
                    <div>
                        <mat-form-field appearance="standard">
                            <mat-label>Name</mat-label>
                            <input required matInput formControlName="returnName">
                        </mat-form-field>
                        <mat-form-field appearance="standard">
                            <mat-label>Address 1</mat-label>
                            <input required matInput formControlName="returnAddress1">
                        </mat-form-field>
                        <mat-form-field appearance="standard">
                            <mat-label>Address 2</mat-label>
                            <input matInput formControlName="returnAddress2">
                        </mat-form-field>
                        <mat-form-field appearance="standard">
                            <mat-label>City</mat-label>
                            <input required matInput formControlName="returnCity">
                        </mat-form-field>
                        <mat-form-field appearance="standard">
                            <mat-label>State</mat-label>
                            <mat-select required formControlName="returnState">
                                <mat-option *ngFor="let s of states" value="{{s}}">
                                    {{s}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="standard">
                            <mat-label>Zip Code</mat-label>
                            <input required matInput formControlName="returnZip">
                        </mat-form-field>
                    </div>
                    <h3>Recipient Address</h3>
                    <div>
                        <mat-form-field appearance="standard">
                            <mat-label>Name</mat-label>
                            <input required matInput formControlName="recipientName">
                        </mat-form-field>
                        <mat-form-field appearance="standard">
                            <mat-label>Address 1</mat-label>
                            <input required matInput formControlName="recipientAddress1">
                        </mat-form-field>
                        <mat-form-field appearance="standard">
                            <mat-label>Address 2</mat-label>
                            <input matInput formControlName="recipientAddress2">
                        </mat-form-field>
                        <mat-form-field appearance="standard">
                            <mat-label>City</mat-label>
                            <input required matInput formControlName="recipientCity">
                        </mat-form-field>
                        <mat-form-field appearance="standard">
                            <mat-label>State</mat-label>
                            <mat-select required formControlName="recipientState">
                            <mat-option *ngFor="let s of states" value="{{s}}">{{s}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="standard">
                            <mat-label>Zip Code</mat-label>
                            <input required matInput formControlName="recipientZip">
                        </mat-form-field>
                    </div>
                </form>
            </div>
        </div>
        <button mat-flat-button *ngIf="!readOnly" (click)="saveSimpleMessage()">Add to cart</button>
        <button 
            *ngIf="readOnly"
            mat-flat-button 
            color="primary"
            [routerLink]="['/add-message', this.cartProductId]"
            class="foot"
        >
            Edit Card
        </button>
    </div>
</div>