<!--nav bar-->
<nav class="navbar fixed-top navbar-expand-lg navbar-light custom-nav">
  <a class="navbar-brand" [routerLink]="['/home']">ThinGifts</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/card-list']">Shop</a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Explore
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/card-list']">Find cards</a>
          <a class="dropdown-item" [routerLink]="['/add-giftcard']">Find gifts</a>
          <a class="dropdown-item" href="#">Partnerships</a>
          <a class="dropdown-item" href="#">About ThinGifts</a>
        </div>
      </li>
    </ul>
    <span class="right-nav-item">
      Login
    </span>
    <span class="right-nav-item">
      <mat-icon>shopping_cart</mat-icon>
      <span id="lblCartCount">{{cartItemCount}}</span>
    </span>
  </div>
</nav>

<router-outlet (activate)="onRouteChange()"></router-outlet>

<footer>
  Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
</footer>
