.custom-nav {
    background: rgba(255,255,255,.5);
}

.mat-icon {
    transform: scale(1.0);
}

.right-nav-item {
    cursor: pointer;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}

#lblCartCount {
    font-size: 12px;
    background: rgb(42, 218, 218);
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

@media (min-width: 900px) {
    .cart_icon {
        transform: scale(1.5);
    }

    .right-nav-item {
        margin-right: 10px;
        margin-left: 10px;
        cursor: pointer;
    }
}

footer {
    text-align: center;
    background-color: rgb(163, 180, 180);
    padding-top: 40px;
    padding-left: 10px;
    
    p {
        color: white;
    }
    
    input {
        background-color: white;
    }
    
    button {
        background-color: black;
        color: white;
    }

    .footer__headline {
        font-weight: bold;
    }

    .footer__text {
        line-height: 5px;
    }

    .divide {
        padding: 15px;
    }

    .social_icon {
        transform: scale(2.2);
    }
}