<div>
  
</div>
<header>
  <h5 class="logo"><a [routerLink]="['/home']">Thin Gifts</a></h5>
  <nav>
    <ul class="nav__links">
      <li
        class="menu__button" 
        (mouseenter)="toggleMenu('shop')" 
        >
        Shop
      </li>
      <li 
        class="menu__button" 
        (mouseenter)="toggleMenu('explore')" 
        >
        Explore
      </li>
      <li class="trigger__dropdown">
        secret
        <div class="dropdown__list">
          <a [routerLink]="['/home']">Home</a>
          <a [routerLink]="['/card-list']">card list</a>
          <a [routerLink]="['/add-message']">add message</a>
          <a [routerLink]="['/add-address']">add address</a>
          <a [routerLink]="['/add-giftcard']">add giftcard</a>
          <a [routerLink]="['/checkout']">checkout</a>
        </div>
      </li>
    </ul>
  </nav>
  <a class="lgn" href="#">Login</a>
</header>

<div 
  class="menu__dropdown" 
  *ngIf="exploreExpanded" 
  (mouseleave)="toggleMenu('explore')"
  >
  <h1>explore coming soon</h1>
</div>

<div 
  class="menu__dropdown" 
  *ngIf="shopExpanded"
  (mouseleave)="toggleMenu('shop')"
  >
  <h1>shop coming soon</h1>
</div>

<router-outlet></router-outlet>
