.custom-nav {
    background: rgba(255,255,255,.5);
}

.mat-icon {
    transform: scale(1.0);
}

.right-nav-item {
    cursor: pointer;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}

#lblCartCount {
    font-size: 12px;
    background: rgb(235, 189, 90);
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}


#thin_gift_logo {
    width: 35px;
}

.row-1, .row-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(163, 180, 180);

    .resources {
        flex: 1;
    }

    .help {
        flex: 1;
    }

    .newsletter {
        flex: 1;
    }
    
    p {
        color: white;
    }
    
    input {
        background-color: white;
    }
    
    button {
        background-color: black;
        color: white;
    }

    .footer__headline {
        font-weight: bold;
    }

    .footer__text {
        line-height: 5px;
    }

    .social_icon {
        transform: scale(2.2);
    }
}


@media (min-width: 900px) {
    .cart_icon {
        transform: scale(1.5);
    }

    .right-nav-item {
        margin-right: 10px;
        margin-left: 10px;
        cursor: pointer;
    }

    .row-1, .row-2 {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-top: 50px;

        .resources {
            flex: 1;
            // text-align: left;
        }

        .help {
            flex: 1;
        }

        .dummy {
            flex: 3;
        }

        .newsletter {
            flex: 2;
            // margin-left: auto;
        }
    }

    .row-2 {
        padding-top: 0;
    }

}

