.card__list__title {
    text-align: center;
 }

.card-select:hover {
    // background-color: red;
    border: .5px solid grey;
    box-shadow:20px 20px 10px grey;
}

// .mat-grid-tile {
//     border: 1px solid red;
// }

