<div class="card__list">
  <h1 class="card__list__title">Select a {{productName}}</h1>
  <mat-grid-list cols="9" rowHeight="50vw">
    <mat-grid-tile 
      [colspan]="1"
      [rowspan]="2"
      class="sidebar"
      >
      <mat-list role="list">
        <h3 mat-subheader>Theme</h3>
        <mat-list-item *ngFor="let f of filterOptions">
          <mat-checkbox>{{f}}</mat-checkbox>
        </mat-list-item>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile
        *ngFor="let p of products"
        [colspan]="2"
        [rowspan]="1">
      <mat-card class="card-select">
        <mat-card-content>
          <img src="https://image.shutterstock.com/image-vector/creative-minimalistic-thank-you-card-260nw-319787525.jpg" />
          <p>{{p.name}}</p>
          <p>{{p.price}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button (click)="onSelectProduct(p.id)">SELECT</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
