.card__list {
    text-align: center;
    padding-left: 20px;
    &__title {
        text-align: center;
        padding-bottom: 10px;
     }
}


.card_select:hover {
    border: .5px solid grey;
    box-shadow:20px 20px 10px grey;
    cursor: pointer;
    h4, p {
        text-decoration: underline;
        color: blue;
    }
}


.card_select {
    width: 90%;
    margin-bottom: 10px;
    &__image {
        width: 75%;
    }
    &__full_btn {
        position: absolute;
        bottom: 30%;
        left: 20%;
        width: 60%;
        height: 10%;
    }
}

.mat-flat-button {
    background-color: rgb(245, 131, 38);
    color: white;
    font-size: 15px;
}

.mat-spinner {
    text-align: center;
}