<h1>Add message</h1>

<div class="outer_card">
  <div class="user_card_wrapper">
    <div class="user_card">
      <div class="user_card_left">
      </div>
      <div class="user_card_right">
          <form class="add_message_form">
              <textarea placeholder="Enter your message here!"></textarea>
          </form>
      </div>
    </div>
  </div>
  <mat-icon color="primary">arrow_back</mat-icon>
  <mat-icon color="primary">arrow_forward</mat-icon>
</div>


<button mat-stroked-button color="primary">
  <a [routerLink]="['/add-address']">Continue</a>
</button>