.user_card textarea {
    width: 436px;
    height: 595px;
}

// .user_card_wrapper {
//     text-align: center;
// }

.user_card {
    border: 5px solid black;
    width: 70%;
    height: 600px;
    display: inline-block;
}

.user_card_left {
    float: left;
    border-right: 5px solid black;
    height: 100%;
    width: 50%;
}

// .user_card_right {
//     float: right;
// }

.selected {
    color: red;
}

.card-cover {
    width: 150%;
    height: 600px;
}

.envelope {
    border: 5px solid black;
    height: 500px;
    width: 80%;
}