// .user_card {
//     border: 3px solid black;
//     width: 70%;
//     height: 550px;
//     display: inline-block;
// }

// .user_card_left {
//     float: left;
//     border-right: 2px solid black;
//     height: 100%;
//     width: 50%;
// }

// .user_card_right {
//     padding: 0;
// }

.card__text {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    outline: none;
}

textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
}

.selected {
    color: red;
}

.card-cover {
    height: 90%;
}

.outer__envelope {
    width: 97%;
    height: 500px;
    border: 2px solid black;
    text-align: center;
    box-shadow:20px 20px 10px grey;
}

.mat-icon {
    font-size: 40px;
}

.card__inside {
    height: 90%;
    width: 100%;
    border: 1px solid black;
    box-shadow:20px 20px 10px grey;
}

// .mat-grid-tile {
//     border: 1px solid red;
// }

.address__line {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 2px solid darkblue;
    outline: none;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    // background-color: #eee;
}

input::placeholder {
    text-align: center;
}

