<form class="payment_form">
  <mat-card class="summary">
    <h4>Checkout Summary</h4>
    <div>
      {{numProducts}} items: 
      <span class="">
        ${{itemTotal}}
      </span>
    </div>
    <div>
      {{numProducts}} stamps: 
      <span class="">
        ${{stampCost | number: '1.2-2' }}
      </span>
    </div>
    <hr>
    <div>
      Total: 
      <span class="price">
        ${{total}}
      </span>
    </div>
  </mat-card>
  <mat-form-field class="email">
    <mat-label>Email</mat-label>
    <input 
      [formControl]="emailFormControl"
      [errorStateMatcher]="matcher"
      matInput
      #email
      required
    >
    <mat-hint>Email is required to send receipt</mat-hint>
    <mat-error *ngIf="emailFormControl.hasError('email')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong> to send receipt
    </mat-error>
  </mat-form-field>
</form>

<h2>Payment Options</h2>
<div #paypal></div>