.summary {
    text-align: center;
    background-color: rgb(236, 235, 229);
    .price {
        color: rgb(190, 61, 61);
        font-size: 23px;
    }
}

.payment_form {
    min-width: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.email {
    width: 60%;
}
